/* destacados.css */
.carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-track-container {
    width: 100%;
    margin: auto;
  }
  
  .carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 300ms ease-in-out;
  }
  
  .carousel-slide {
    min-width: calc(100% / 3); /* Divide the container width by 3 to show 3 cards at once */
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px; /* Adjust spacing between cards */
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-button-left {
    left: 0;
  }
  
  .carousel-button-right {
    right: 0;
  }
  
  .restaurante-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 16px; /* Adjust the margin to your preference */
  }
  
  .restaurante-img {
    width: 100%;
    height: auto;
    display: block;
  }